logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

node_modules/

.env

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store

tasks.json
tasks/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
instance/

# Environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.spec 